.flex-container {
    display: flex;
    background-color: antiquewhite;
}

.flex-container1 {
    margin: auto;
    margin: 20px;
    padding: 10px;
   background-color: darkgrey;
}

h1 {
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
}


.card {
    background-color: bisque;
    display: flex;

}

body {
    background-image: url(/images/blue.webp);
}

img {
    border-radius: 50px;
    height: 40px;
    width: 40px;
}